@model FinalProject.Models.Domains.Morador
@{
    Layout = "_Layout";
}

<style>
    .container_filho{
        position: relative;
        height: 80%;
        top: 10%;
        width: 90%;
        border: 1px solid;
        border-radius: 20px;
        background: gainsboro;
        box-shadow: 1px 2px 10px 0.5px;
    }

    h1{
        margin: 2% 42%;
    }

    .informacoes{
        display: flex;
        justify-content: center;
        height: 90%;
    }

    .informacao{
        background: white;
        width: 70%;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        height: 80%;
    }

    .detalhe{
        text-align: center;
        padding: 50px 0px;
    }

    .informacao button{
        background: #695CFE;
        border: none;
        border-radius: 6px;
        width: 200px;
        text-align: center;
        height: 70px;
        color: #fff;
        font-size: 14px;
        display: block;
        margin: 0 auto;
        cursor: pointer;
        font-size: 20px;
    }

</style>

<div class="modal fade" id="modalTrocarSenha" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Alterar senha</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form>
        <div class="modal-body">
            <div class="campo">
                <label asp-for="Senha" class="form-label">Nova Senha</label>
                <input type="password" class="form-control" asp-for="Senha">
            </div>

            <div class="campo">
                <label asp-for="ConfirmarSenha" class="form-label">Confirmar nova senha</label>
                <input type="password" class="form-control" asp-for="ConfirmarSenha">
            </div>
        </div>

        <div class="modal-footer">
            <button type="submit" class="btn btn-success">Alterar Senha</button>
        </div>
      </form>     
    </div>
  </div>
</div>


<div class="container_filho">
    <h1 style="font-size: 27px;">Minha Conta</h1>

    <div class="informacoes">
        <div class="informacao">
            <div class="detalhe">
                <span><strong style="font-size: 18px;">Nome:</strong>  @Model.Nome</span>
            </div>
            <div class="detalhe">
                <span><strong style="font-size: 18px;">Email: </strong>@Model.Email</span>
            </div>
            <div class="detalhe">
                <span><strong style="font-size: 18px;">Telefone: </strong>@Model.Telefone</span>    
            </div>

            <button type="button" data-bs-toggle="modal" data-bs-target="#modalTrocarSenha">Alterar Senha</button>
        </div>
    </div>
</div>
